<nav>
  <ul>
    <h3>
      <li><a href="/user/personalDetails">personalDetails</a></li>
      <li><a href="/user/register">Register</a></li>
      <li><a href="/user/login">LogIn</a></li>
      <li><a href="/user/allUsers">All-Users</a></li>

      <li><a href="/post/create">Create-Post</a></li>
    </h3>
    <!-- logout Button -->
    <button onclick="logoutUser()">Logout</button>
    <!-- button to see users own posts -->
    <button id="seeYourPosts" onclick="seeYourPostButton()">
      seeYourPosts
    </button>
  </ul>
</nav>

<script>
  //
  async function seeYourPostButton() {
    try {
      // button to see users own posts
      //just using for redirection

      window.location.href = `${window.location.origin}/post/ownposts`;
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function logoutUser() {
    try {
      const responseLogout = await fetch(
        `${window.location.origin}/user/logout`,
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },

          //
        }
      );
      //
      const logoutResult = await responseLogout.json();
      //
      console.log(logoutResult);
      if (logoutResult.message == "logout success") {
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/user/login`;
        }, 1000);
      }
    } catch (err) {
      console.log(err);
      res.json(err);
    }
  }
</script>
