<nav>
  <ul>
    <h3>
      <li><a href="/user/personalDetails">personalDetails</a></li>
      <li><a href="/user/register">Register</a></li>
      <li><a href="/user/login">LogIn</a></li>
      <li><a href="/user/logout">Logout</a></li>
      <li><a href="/user/allUsers">All-Users</a></li>
    </h3>
  </ul>
</nav>
