<%- include('partials/header') %>
<div class="container">
  <h3>Create Post</h3>
  <div>
    <form action="#">
      <div class="mb-3">
        <label for="description"><strong>description</strong></label>
        <input type="text" id="postDescription" required />
      </div>
      <!-- image -->
      <div class="mb-3">
        <input type="file" id="imageUpload" name="imageUpload" />
      </div>
    </form>
    <button class="btn btn-primary" id="postSubmit" onclick="onPostSubmit()">
      submitPost
    </button>
  </div>
  <br /><br /><br />
</div>

<!--  -->
<script>
  //
  let message = document.getElementById("message");
  message.textContent = "";
  //
  async function onPostSubmit() {
    //
    try {
      const description = document.getElementById("postDescription").value;
      //
      const imageUpload = document.getElementById("imageUpload");
      const imageFile = imageUpload.files[0];
      //
      const formData = new FormData();
      formData.append("description", description);

      formData.append("image", imageFile);
      //

      //
      // for (let i = 0; i < imageUpload.files.length; i++) {
      //   const file = imageUpload.files[i];
      //   //
      //   console.log(file);
      //   formData.append("images", file);
      // }

      const postSubmitResponse = await fetch(
        `${window.location.origin}/post/create`,
        {
          method: "POST",
          body: formData,
        }
      );
      const postSubmitResult = await postSubmitResponse.json();

      //
      console.log(postSubmitResult, "postSubmitResult");
      // //
      // console.log(postSubmitResult, "postSubmitResult");
      if (postSubmitResult.message == "post created") {
        //
        message.textContent = postSubmitResult.message;
        //
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/post/ownposts`;
        }, 2000);
      } else if (postSubmitResult.message) {
        //
        message.textContent = postSubmitResult.message;
        //
        setTimeout(function () {
          //
          window.location.href = window.location.href;
        }, 1000);
      }
    } catch (err) {
      console.log(err);
      res.json(err);
    }
  }
</script>
