<%- include('partials/header') %>
<h3>Create Post</h3>
<div>
  <form action="#">
    <label for="description">description</label>
    <input type="text" id="postDescription" required />
  </form>
  <button id="postSubmit" onclick="onPostSubmit()">submitPost</button>
</div>
<br /><br /><br />
<div>
  <h4>See all your posts</h4>
  <button id="seeYourPosts" onclick="seeYourPostButton()">seeYourPosts</button>
</div>

<!--  -->
<script>
  async function seeYourPostButton() {
    try {
      const responseUserPosts = await fetch(
        `${window.location.origin}/post/ownposts`,
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },

          //
        }
      );
      //
      //   const resultUserPosts = await responseUserPosts.json();
      window.location.href = `${window.location.origin}/post/ownposts`;
      console.log(resultUserPosts);
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function onPostSubmit() {
    //
    try {
      const description = document.getElementById("postDescription").value;
      //
      const data = { description: description };
      console.log(data, "data");

      const postSubmitResponse = await fetch(
        `${window.location.origin}/post/create`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }
      );
      const postSubmitResult = await postSubmitResponse.json();
      //
      console.log(postSubmitResult, "postSubmitResult");
      if (postSubmitResult.message == "post created") {
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/post/create`;
        }, 2000);
      }
      //
    } catch (err) {
      console.log(err);
      res.json(err);
    }
  }
</script>
