<%- include('partials/header') %>

<h2>Login</h2>

<form action="#">
  <!-- Register -->
  <label for="username">Username</label>
  <input type="text" id="loginUsername" required />
  <!-- password -->
  <label for="password">Password</label>
  <input type="password" id="loginPassword" required />
</form>
<!-- form Button -->
<button id="loginButton" onclick="onLoginButton()">Submit</button>

<script>
  async function onLoginButton() {
    //
    try {
      const username = document.getElementById("loginUsername").value;
      const password = document.getElementById("loginPassword").value;

      //
      const data = { username: username, password: password };

      const response = await fetch("http://localhost:3003/user/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        //
      });

      //error hocche
      const result = await response.json();
      console.log(result);

      //this is redirection to user--/details page
      //   window.location.href = `${window.location.origin}/user/details`;
      //

      //ei line- browser er console e pront hocche
      //   console.log(result, "result");
      //   console.log(window.location);
      //   window.location.href = "https://www.google.com";
      //   console.log(`${window.location.origin}/user/details`);

      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
