<%- include('partials/headerWithoutNav') %>

<!--  -->

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    
    <div class="col-lg-6 width:100%">
      <!--  -->
      
      <h1 class="text-dark fw-bold text-center">🦝SocialApp Login</h1>
      <!--  -->
      <div class="bg-white shadow rounded p-3 input-group-lg">
        <!-- form -->
        <form action="#">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="loginUsername"
              required
            />
          </div>

          <!-- password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              required
            />
          </div>
        </form>
      </div>

      <div class="mt-3">
        <!-- form Button -->

        <button
          class="btn btn-secondary w-100"
          id="loginButton"
          onclick="onLoginButton()"
        >
          Submit
        </button>
        <!-- register button -->
        <hr />

        <p class="text-dark text-center"> To login into the app, first register <p/>
        <div class="text-center">
          <button class="btn btn-dark w-50" onclick="toRegisterPage()">
            Register
          </button>
        </div>
        <!-- modal -------------------------------->

        <!-- modal ends -->
      </div>
    </div>
  </div>
</div>

  <script>
    //
    let message = document.getElementById("message");

    //
    async function toRegisterPage() {
      try {
        window.location.href = `${window.location.origin}/user/register`;
      } catch (err) {
        console.log(err);
      }
    }
    //
    async function onLoginButton() {
      //
      try {
        message.textContent = "";
        //
        const username = document.getElementById("loginUsername").value;
        const password = document.getElementById("loginPassword").value;

        //
        const data = { username: username, password: password };

        const response = await fetch(`${window.location.origin}/user/login`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
          //
        });

        //fetch () er result hocche- - login (post) rout er - res.json()-- e jeta set kora hocche( by me)
        const result = await response.json();

        //this line important to get the messages in browser(console)
        // console.log(result);

        if (result.message == "login success") {
          //this line is fireing- router.get("/personalDetails"..
          //etar jonno redirect o hocche - after - get request -- fire hocche
          message.textContent = result.message;
          console.log(result, "result");
          setTimeout(function () {
            //
            window.location.href = `${window.location.origin}/post/timeline/all`;
          }, 1000);
        } else if (result) {
          //
          message.textContent = result.message;
          console.log(result, "result");
          setTimeout(function () {
            //

            //page reload hobe
            window.location.href = window.location.href;
          }, 2000);
        }

        //
      } catch (err) {
        console.log(err);
      }
    }
  </script>

  <%- include('partials/footer') %>
</div>