<%- include('partials/header') %>

<h2>Login</h2>

<form action="#">
  <!-- Register -->
  <label for="username">Username</label>
  <input type="text" id="loginUsername" required />
  <br />
  <!-- password -->
  <label for="password">Password</label>
  <input type="password" id="loginPassword" required />
</form>
<!-- form Button -->
<button id="loginButton" onclick="onLoginButton()">Submit</button>

<script>
  async function onLoginButton() {
    //
    try {
      const username = document.getElementById("loginUsername").value;
      const password = document.getElementById("loginPassword").value;

      //
      const data = { username: username, password: password };

      const response = await fetch("http://localhost:3003/user/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
        //
      });

      //fetch () er result hocche- - login (post) rout er - res.json()-- e jeta set kora hocche( by me)
      const result = await response.json();

      //this line important to get the messages in browser(console)
      console.log(result);

      if (result.message == "success") {
        //this line is fireing- router.get("/personalDetails"..
        //etar jonno redirect o hocche - after - get request -- fire hocche
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/user/personalDetails`;
        }, 2000);
      }

      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
