<%- include('partials/header') %>

<h2>Register</h2>

<form action="#">
  <!-- username -->
  <label for="username">Username</label>
  <input type="text" id="registerUsername" required />
  <br />
  <!-- password -->
  <label for="password">Password</label>
  <input type="password" id="registerPassword" required />
</form>
<!-- form Button -->
<button id="registerButton" onclick="onRegisterButton()">Submit</button>

<script>
  async function onRegisterButton() {
    //
    try {
      const username = document.getElementById("registerUsername").value;
      const password = document.getElementById("registerPassword").value;

      const data = { username: username, password: password };
      //   console.log(username, "username");
      // console.log(password, "password");

      const response = await fetch(`${window.location.origin}/user/register`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },

        body: JSON.stringify(data),
      });
      //
      const result = await response.json();
      //ei line- browser er console e pront hocche
      console.log(result, "result");

      if (result.message == "user created") {
        setTimeout(function () {
          //
          window.location.href = `${window.location.origin}/user/personalDetails`;
        }, 1000);
      }

      //page reload korbe
      //   location = window.location;

      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
